
Java Follows some order to execute an equation Named as :

  B-O-D-M-A-S
  
  B -> Braces ~ ( )
  
  O -> Of 
  
  D -> Division ~ /
  
  M -> Multiplication ~ *
  
  A -> Addition ~ + 
  
  S -> Subtraction ~ -






